.app-header {
    max-width: 1000px;
    margin: 0 auto;
    padding: 24px 20px 0px;
}

.app-title {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.3px;
    margin: 0;
}

.app-subtitle {
    margin-top: 6px;
    font-size: 14px;
    color: var(--text-muted);
}